:root {
    --primary-color: #d2d2d2;
    --secondary-color: #272727;
    --medium-color: #383737;
    --hover-color: #9e9e9e;
    --active-color: #6b6b6b;
    --dark-color: #565656;
    --app-font: "Comic Sans MS";
    --lumo-primary-color: #d2d2d2;
    --lumo-base-color: #272727;
}

body, input {
    font-family: var(--app-font), cursive;
}
