@import "frontend/styles/root-styles.css";

.host-layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
}

.props-layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.props-header {
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--hover-color);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.absent-header {
    color: var(--hover-color);
    font-weight: bold;
    background-color: var(--secondary-color);
    border-style: dotted;
    border-width: 3px;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.props-label {
    color: var(--hover-color);
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.props-label-contrast {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-layout {
    flex: 1;
    max-width: 33%;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    background-color: var(--dark-color);
    border-radius: 10px;
    align-items: stretch;
}

.chat-layout {
    flex: 2;
    max-width: 66%;
    padding: 0;
    gap: 30px;
    box-sizing: border-box;
    align-items: stretch;
}

.messages-layout {
    flex: 9;
    max-height: 90%;
    box-sizing: border-box;
    background-color: var(--dark-color);
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.loading-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.loading-patch {
    max-width: 50%;
    height: 40%;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.loading-label {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading-spinner {
    margin-top: 20px;
    height: 30%;
    width: 30%;
}

.input-panel-layout {
    flex: 1;
    max-height: 10%;
    box-sizing: border-box;
    justify-content: stretch;
    align-items: stretch;
    background-color: var(--secondary-color);
}

.status-header {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: var(--hover-color);
    border-style: solid;
    border-width: 7px;
}

.encryption-algorithm-label {
    align-self: center;
    color: var(--primary-color);
    background-color: var(--medium-color);
    padding: 15px 30px 15px 30px;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-text-field {
    flex: 8;
    color: var(--primary-color);
    font-family: var(--app-font), cursive;
    font-weight: bold;
    --vaadin-input-field-value-font-size: 18px;
}
.input-text-field::part(input-field){
    height: 100%;
}
.input-text-field > input:placeholder-shown {
    padding-left: 20px;
}
.input-text-field > input {
    padding-left: 20px;
}

.send-button {
    flex: 1;
    height: 87%;
    color: var(--primary-color);
    font-size: 25px;
}
.send-button:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}
.send-button:active {
    background-color: var(--active-color);
    color: var(--secondary-color);
}

.file-button {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    font-size: 20px;
}
.file-button:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}
.file-button:active {
    background-color: var(--active-color);
    color: var(--secondary-color);
}

.file-upload {
    position: relative;
    flex: 1;
    height: 87%;
    justify-content: center;
    align-items: center;
}
.file-upload > vaadin-upload-file {
    position: absolute;
    z-index: 1;
    display: none;
}
.file-upload > vaadin-upload-file-list {
    position: absolute;
    z-index: 1;
    display: none;
}
